.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:where(.css-1i9hnpv).ant-card .ant-card-head {
  padding: 0 10px;
}

:where(.css-1i9hnpv).ant-card .ant-card-body {
  padding: 10px;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-card .ant-card-head {
  padding: 0 10px;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-card .ant-card-body {
  padding: 10px;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-card .ant-card-head {
  min-height: 40px;
}

:where(.css-1i9hnpv).ant-card .ant-card-head {
  min-height: 40px;
}

.filters button{
  margin-left: 10px;
 
}

.filters a{
  color: white;
}